// Heading fonts
@font-face {
  font-display: swap; 
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 200 800;
  src: url('/assets/fonts/bricolage-grotesque.woff2') format('woff2');
}

// Default fonts
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-v24-latin-700.woff2') format('woff2');
}

// Mono (mainly for the receipt page)
@font-face {
  font-family: "Fira Mono";
  src: url('/assets/fonts/fira-mono-regular.woff2') format('woff2');
}