@use "../abstracts/variables" as var;
@use "sass:color";

@mixin food-card {
  position: relative;
  background-color: var.$clr-white;
  border: var.$clr-navy solid 2px;
  min-height: 150px;
  padding: 4px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 3fr;
  gap: 4px;
  transition: box-shadow 200ms ease;

  &__thumbnail {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    aspect-ratio: 5 / 6;
    border-radius: 4px;
    object-fit: cover;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    font-size: 1.1rem;
  }

  @container (inline-size < 30ch) {
    & {
      grid-template-columns: unset;
  
      &__thumbnail {
        aspect-ratio: 4 / 3;
      }
    }
  }
}

@mixin form {
  padding: 1.25rem var.$pad-inline-sm;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var.$clr-white;
  border-radius: 12px 12px 0 0;
  border: var.$clr-navy solid 2px;
  border-bottom: 0;
  
  >*:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: var.$screen-md) {
    & {
      position: unset;
      grid-row: 1 / -1;
      border-radius: 12px;
      padding: 2rem 1.5rem;
      border: var.$clr-navy solid 2px;
      height: fit-content;
    }
  }
}

@mixin big-button {
  width: 100%;
  padding: 0.5em;
  font-family: "Bricolage Grotesque";
  font-weight: 800;
  font-size: 1.3rem;
  background-color: var.$clr-yellow;
  border-width: 2px;
  margin-block: 0 6px;
  box-shadow: var.$clr-navy 0 6px;
  transition: margin 100ms ease, box-shadow 100ms ease;

  &:active {
    margin-block: 6px 0;
    box-shadow: unset;
  }
}