<div class="receipt-container">
  <h1>Thank you!</h1>
  <p>We'll have your order ready in approximately never.</p>
  <%- include("../partials/receipt", { foods: foods }) %>
  <a href="/">Go back home</a>
</div>