.basket {
  margin-bottom: 6rem;
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    :first-child {
      place-self: center start;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem 0.5rem;
    display: grid;
    gap: 0.5rem;
  }

  &__checkout-prompt {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: white;

    div {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    .total-price__value {
      font-size: 1.5em;
    }

    button[type="submit"] {
      padding: 0.5rem;
      width: 100%;
    }
  }
}

.basket-item {
  display: grid;
  border: black solid 1px;
  border-radius: 4px;
  overflow: hidden;
  grid-template-columns: 1fr 2.5fr;
  min-height: 100px;

  h3 {
    font-size: 1.2rem;
    grid-column: 1 / -1;
    margin: 0;
  }

  &__thumbnail {
    object-fit: cover;
    aspect-ratio: 5 / 6;
  }

  &__info {
    display: grid;
    padding: 0.5rem;
    grid-template-columns: 1fr auto;
  }

  &__price {
    display: block;
    justify-self: end end;
    place-self: end end;
  }

  .quantity-input {
    place-self: end start;
    justify-self: end start;
  }
}