@use "../abstracts/mixins";

.basket {
  @include mixins.popup-modal;
  
  &__content {
    bottom: 0;
    left: 0;
    right: 0;

    >ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

.basket-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}