.basket {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;
  }
}

.basket-item {
  display: grid;
  border: black solid 1px;
  border-radius: 4px;
  overflow: hidden;
  grid-template-columns: 1fr 2.5fr;

  h3 {
    font-size: 1.2rem;
    grid-column: 1 / -1;
    margin: 0;
  }

  &__thumbnail {
    aspect-ratio: unset;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__price {
    display: block;
    justify-self: end end;
    place-self: end end;
  }
  
  .quantity-input {
    place-self: end start;
    justify-self: end start;

  }
}