@use "../abstracts/variables" as var;
@use "sass:color";

#basket {
  margin-bottom: 150px;
  
  ul {
    height: fit-content;
    container: basket / inline-size;
    padding: 0;
    display: grid;
    gap: 8px;
  }

  .error-message {
    color: color.adjust(var.$clr-navy, $hue: -5, $lightness: 10%);
    text-align: center;
    margin-block: 2rem;
  }
}


@media screen and (min-width: var.$screen-md) {
  #basket {
    display: grid;
    grid-template-columns: 2fr minmax(250px, 1fr);
    gap: 12px;
  }

  .checkout-form {
    grid-column: -2 / -1;
  }
}