.basket {
  margin-bottom: 6rem;
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    :first-child {
      place-self: center start;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem 0.5rem;
    display: grid;
    gap: 0.5rem;
  }

  &__checkout-prompt {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: white;

    div {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    .total-price__value {
      font-size: 1.5em;
    }

    button[type="submit"] {
      padding: 0.5rem;
      width: 100%;
    }
  }
}
