.food-details {
  margin-bottom: 5rem;

  &__thumbnail {
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  &__info {
    padding: 0.75rem 1rem;
  }

  &__price {
    font-size: 1rem;
    span { font-size: 1.5em; }
    margin-block-end: 1rem;
  }

  &__description {
    color: #444;
    font-weight: 300;
  }

  h2 {
    font-size: 1.75rem;
  }

  nav {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  form {
    position: fixed;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
  }

  form > .quantity-input {
    max-width: fit-content;
    button {
      height: 100%;
    }
  }
  
  form > button[type=submit] {
    display: block;
    padding: 0.5rem;
  }
}