@use "../abstracts/variables" as var;


.food-details {
  margin-bottom: 5rem;
  display: grid;

  &__thumbnail {
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  &__info {
    padding: 0.75rem 1rem;
  }



  &__description {
    color: #444;
    font-weight: 300;
  }

  h2 {
    font-size: 1.75rem;
  }

  nav {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .price {
    grid-column: 1 / -1;
    font-size: 1rem;
    span { font-size: 1.5em; }
    text-align: end;
  }

  form {
    position: fixed;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
  }

  form > .quantity-input {
    max-width: fit-content;
    button {
      height: 100%;
    }
  }
  
  form > button[type=submit] {
    display: block;
    padding: 0.5rem;
  }
}

@media screen and (min-width: var.$screen-md) {
  .food-details {
    grid-template-columns: 2fr 1fr;
    max-height: 100vh;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 0;
    
    &__thumbnail {
      border-radius: 8px;
      object-fit: cover;
      height: 100%;
      width: 100%;
      aspect-ratio: 4 / 3;
      grid-row: 1 / -1;
      overflow: hidden;
      
    }
    
    form {
      border-radius: 8px;
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      position: unset;
      display: flex;
      flex-direction: column;
      border: solid 1px black;

      >.quantity-input {
        max-width: unset;
        input {
          display: block;
          text-align: center;
          max-width: unset;
        }
      }
    }

    .price {
      flex: 1;
    }


    &__info {
      padding: unset;
    }

    nav {
      top: calc(1rem + 8px);
      left: calc(1rem + 8px);
    }
  }
}