.food-details {
  &__info {
    padding: 0.75rem 1rem;
  }

  &__price {
    font-size: 1rem;
    span { font-size: 1.5em; }
  }

  h2 {
    font-size: 1.75rem;
  }

  nav {
    position: absolute;
    top: 8px;
    left: 8px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff88;
    padding: 0.5rem;
    border-radius: 6px;
  }

  form {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
  }

  form > .quantity-input {
    max-width: fit-content;
    button {
      height: 100%;
    }
  }
  
  form > button[type=submit] {
    display: block;
    padding: 0.5rem;
  }
}