@use "../abstracts/variables" as var;
@use "sass:color";

.food-details {
  &__thumbnail {
    aspect-ratio: 1 / 1;
    width: 100%;
    min-height: 180px;
    max-height: 400px;
    border-radius: 8px;
    border: var.$clr-navy solid 2px;
  }

  &__info {
    padding: 0.5em;
  }

  form {
    padding: 1.25rem var.$pad-inline-sm;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var.$clr-white;
    border-radius: 12px 12px 0 0;
    border: var.$clr-navy solid 1px;
    border-bottom: 0;

    >div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
      margin-bottom: 8px;
    }
  }

  &__price-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    background-color: var.$clr-lime;
    border: color.adjust(var.$clr-lime, $lightness: -30%) solid 1px;
    border-radius: 6px;
    color: color.change(var.$clr-lime, $lightness: -20%);
    font-size: 0.9rem;
    min-width: fit-content;

    .value {
      font-size: 1.25em;
    }
  }

  button[type=submit] {
    width: 100%;
    padding: 0.5em;
    font-family: "Bricolage Grotesque";
    font-weight: 800;
    font-size: 1.3rem;
    background-color: var.$clr-yellow;
    border-width: 2px;
    margin-block: 0 6px;
    box-shadow: var.$clr-navy 0 6px;
    transition: margin 100ms ease, box-shadow 100ms ease;

    &:active {
      margin-block: 6px 0;
      box-shadow: unset;
    }
  }

  .quantity-input {
    height: 100%;
  }
}