@use "../abstracts/variables" as var;

.food-details {
  margin-bottom: 180px;

  &__thumbnail {
    aspect-ratio: 1 / 1;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    border-radius: 8px;
    border: var.$clr-navy solid 2px;
  }

  &__info {
    padding: 0.5em;
  }
}

@media screen and (min-width: 720px) {
  #food-view {
    display: grid;
    grid-template-columns: 2fr minmax(250px, 1fr);
    gap: 1rem;
  }

  .add-to-basket {
    grid-column: -2 / -1;
  }

  .food-details {
    margin: 0;

    &__thumbnail {
      max-height: 520px;
    }
  }
}