.food-details {

  form {
    position: absolute;
    padding: 0.5rem 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
  }
  
  form>button[type=submit] {
    display: block;
    width: 100%;
  }
}