.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  gap: 0.5rem;
}

.menu-item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding-block-end: 0.5rem;
  
  &__name, &__price {
    padding-inline: 0.5rem;
    margin: 0;
  }

  &__display-image {
    object-fit: cover;
    height: 100%;
  }
}

.menu-item-popup {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__content {
    background-color: white;
    position: absolute;
    bottom: 0;
  }
  
  &__underlay {
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.373);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}