@use "../abstracts";

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  gap: 0.5rem;
}

.menu-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding-block-end: 0.5rem;
  
  &__name, &__price {
    padding-inline: 0.5rem;
    margin: 0;
  }

  &__display-image {
    object-fit: cover;
    height: 100%;
  }
}

.menu-popup {
  @include abstracts.popup-modal;
  &__content {
    top: 0;
    bottom: 0;
    padding-block-end: 2rem;
  }

  button {
    @include abstracts.button(abstracts.$color-main, )

  }
}