<%- include("../partials/header") %>
<main id="basket" _="on updateTotalPrice
                     set prices to .price set sum to 0
                     for p in prices
                       set sum to sum + parseFloat(p.textContent.replace(',', ''))
                       put sum.toLocaleString ('en-AE', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
                       into .total-price__value end
                     init trigger updateTotalPrice">
  <% if (basketItems.length > 0) { %>
    <ul>
      <% basketItems.forEach(item => { %>
        <%- include('../partials/basket-item', { item: item }) %>
      <% }); %>
    </ul>
  <% } else { %>
    <p class="error-message">
      <%= locals.errorMessage ? locals.errorMessage : "Your basket is empty :(" %>
    </p>
  <% }; %>
  <form class="checkout-form" action="/receipt">
    <div class="checkout-form__price">
      <p>Total</p>
      <p class="total-price">AED <span class="total-price__value">0.00</span></p>
    </div>
    <button type="submit">Place order</button>
  </form>
</main>