<main id="home">
  <section>
    <img srcset="
    assets/images/hero-480w.webp 480w,
    assets/images/hero-720w.webp 720w,
    assets/images/hero-1080w.webp 1080w,
    assets/images/hero-1440w.webp 1440w" 
    alt="Diner" class="hero-bg">
    <div class="hero-text">
      <p>Need a little break from the world?</p>
      <h1>Dine in at the Kottej!</h1>
    </div>
    <div class="button-group">
      <a href="/menu" class="button">Order now</a>
      <a href="#" class="button">Contact us</a>
    </div>
  </section>
</main>