<li>
  <h2><%= menuItem.name %></h2>
  <% if (menuItem.description) { %>
    <p><%= menuItem.description %></p>
  <% } %>
  <p>AED <%= menuItem.price.toFixed(2) %></p>
  <button
    hx-post="/basket"
    hx-trigger="click"
    hx-vals='js:{
      "itemID" : "<%= menuItem.id %>"
    }'>Add to Basket</button>
</li>