.basket-item {
  display: grid;
  border: black solid 1px;
  border-radius: 4px;
  overflow: hidden;
  grid-template-columns: 1fr 2.5fr;
  min-height: 100px;

  h3 {
    font-size: 1.2rem;
    grid-column: 1 / -1;
    margin: 0;
  }

  &__thumbnail {
    object-fit: cover;
    height: 100%;
  }

  &__info {
    display: grid;
    padding: 0.5rem;
    grid-template-columns: 1fr auto;
  }

  &__price {
    display: block;
    justify-self: end end;
    place-self: end end;
  }

  .quantity-input {
    place-self: end start;
    justify-self: end start;
  }
}