@use "../abstracts/variables" as var;
@use "sass:color";

button, .button {
  --_button-padx: var(--button-padx, 0.5em);
  --_button-pady: var(--button-pady, 0.25em);
  display: block;
  padding: var(--_button-pady) var(--_button-padx);
  background-color: var.$clr-white;
  border: var.$clr-navy solid 2px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition:
    background-color 100ms ease,
    box-shadow 100ms ease,
    filter 300ms ease,
    padding 100ms ease;

  &:disabled {
    cursor: unset;
    filter: contrast(85%);
  }
  
  &:hover:not(:disabled) {
    filter: brightness(-10%);
  }
  
  &:active:not(:disabled) {
    box-shadow: inset color.change(var.$clr-navy, $alpha: 30%) 0 calc(var(--_button-pady) * 0.75);
    padding-top: calc(((var(--_button-pady)) * 2) * 0.8);
    padding-bottom: calc((var(--_button-pady) * 2) * 0.2);
  }
}
