@use "../abstracts/mixins" as mi;
@use "../abstracts/variables" as var;
@use "sass:color";

.add-to-basket {
  @include mi.form();

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .quantity-input {
    height: 100%;
  }

  .food-price {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    background-color: var.$clr-lime;
    border: color.adjust(var.$clr-lime, $lightness: -30%) solid 1px;
    border-radius: 6px;
    color: color.change(var.$clr-lime, $lightness: -20%);
    font-size: 0.9rem;
    min-width: fit-content;
  
    .value {
      font-size: 1.25em;
    }
  }
  
  button[type=submit] {
    @include mi.big-button();
  }
}
