header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

header > nav > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}