.menu {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5em;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  
  &__info {
    padding: 0.5rem;
  }

  &__display-image {
    object-fit: cover;
    height: 100%;
  }
}

.menu-item-popup {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__content {
    background-color: white;
    position: absolute;
    bottom: 0;
  }
  
  &__underlay {
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.373);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}